@use "tailwindcss";
@use "navbar";
@use "variable";
@use "common";
@use "utils";

@theme {
  --color-primary: var(--primary);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
}
