@use "tailwindcss";
@use "navbar";
@use "variable";
@use "common";
@use "utils";

@theme {
  --color-primary: var(--primary);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-medium);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary);
}
